<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Control</title>
    <link rel="stylesheet" href="../static/stylesheets/app.css" />
    <link rel="stylesheet" href="../static/bower_components/c3/c3.css" />
    <link rel="stylesheet" href="../static/icons/font-awesome/css/font-awesome.css" />
    <script src="../static/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
    <div class="app-container">
        <div class="medium-8 columns no-padding full-height">
            <div class="left-top-quadrant">
                <div class="medium-3 columns no-padding full-height">
                    <div class="title-panel full-height">
                        <img class="logo" src="../static/media/ub_logo_shadow.png">
                        <h1 class="title">GLADOS </h1>
                        <h3 class="description">Mission Control</h3>
                    </div>
                </div>
                <div class="medium-9 columns no-padding full-height">
                    <div class="panel full-height">
                        <div class="panel-header">
                            <div class="panel-title">Flight Camera</div>
                        </div>
                        <div class="panel-content floated-images-in-flow camera-panel" >
                            <div class="left-of-image z-depth-1">
                                <ul class="image-info">
                                    <li class="image-info-item-container">
                                        <div class="toggle-switch">
                                            <input type="checkbox" id="raw-processed-toggle" class="toggle-switch-checkbox" checked>
                                            <label for="raw-processed-toggle" class="toggle-switch-label">
                                                <span class="toggle-switch-inner"></span>
                                                <span class="toggle-switch-switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="time-taken">
                                            <i class="small mdi-device-access-time tooltipped" data-position="top" data-tooltip="Time taken (System time)"></i>
                                            <h6>
                                                <strong>21:03:30</strong>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="image-info-item">
                                            <h6>
                                                <strong>Observing:</strong> Alpha Centauri
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="position-taken">
                                            <i class="small mdi-device-gps-fixed tooltipped" data-position="top" data-tooltip="GPS Coordinates"></i>
                                            <h6>
                                                <strong>Latitude: 34.583298</strong>
                                            </h6>
                                            <h6>
                                                <strong>Longitude: 34.583298</strong>
                                            </h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <img class="satellite-image right" src="../static/media/color.bmp"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-bottom-quadrant">
                <div class="panel full-height">
                    <div class="panel-header">
                        <div class="panel-title">Command Center</div>
                    </div>
                    <div class="panel-content">
                        <ul class="tabs z-depth-1">
                            <li class="tab"><a href="#thermal-command-tab">Thermal</a></li>
                            <li class="tab"><a href="#power-command-tab">Power</a></li>
                            <li class="tab"><a href="#adc-command-tab">ADC</a></li>
                            <li class="tab"><a href="#cdh-command-tab">CDH</a></li>
                            <li class="tab"><a href="#com-command-tab">COM</a></li>
                        </ul>
                        <div id="thermal-command-tab" class="tab-content">hello from tab 1!</div>
                        <div id="power-command-tab" class="tab-content">hello from tab 2!</div>
                        <div id="adc-command-tab" class="tab-content">hello from tab 3!</div>
                        <div id="cdh-command-tab" class="tab-content">hello from tab 4!</div>
                        <div id="com-command-tab" class="tab-content">hello from tab 5!</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="medium-4 columns no-padding full-height">
            <div class="quadrant full-height">
                <div class="panel full-height">
                    <div class="panel-header status-panel-header">
                        <div class="last-updated">
                            <span class="label">Last Updated</span>
                            <span class="time">10:31:33 EST</span>
                        </div>
                        <div class="panel-title">Mission Status</div>
                    </div>
                    <div class="panel-content">
                        <div class="status-overview-panel-header white z-depth-1">
                            <div class="status-overview bottom-border">
                                <div class="general-status-info full-height no-padding medium-6 columns">
                                    <div class="system-time-section bottom-border valign-wrapper">
                                        <span class="system-time-label medium-6 columns">System Time:</span>
                                        <span id="system-time" class="system-time medium-6 columns">11:43:05</span>
                                    </div>
                                    <div class="gps-coords-section valign-wrapper">
                                        <div class="latitude" id="latitude">39.635&deg; N </div>
                                        <div class="longitude" id="longitude">49.805&deg; W</div>
                                    </div>
                                </div>
                                <div class="battery-voltage-status full-height medium-6 columns left-border">
                                    <div class="status-overview-header">Battery Voltage</div>
                                    <div id="battery-voltage-gauge-chart" class=""></div>
                                </div>
                            </div>
                            <ul class="tabs">
                                <li class="tab status-tab warning"><a href="#thermal-status-tab" class="tab-link">Thermal</a></li>
                                <li class="tab status-tab bad"><a href="#power-status-tab" class="tab-link">Power</a></li>
                                <li class="tab status-tab bad"><a href="#adc-status-tab" class="tab-link">ADC</a></li>
                                <li class="tab status-tab bad"><a href="#cdh-status-tab" class="tab-link">CDH</a></li>
                                <li class="tab status-tab good"><a href="#com-status-tab" class="tab-link">COM</a></li>
                            </ul>
                        </div>

                        <div id="thermal-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Visible Camera Temperature</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="visible-cam-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Infrared Camera Temperature</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="infrared-cam-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Other Device Temperatures</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="other-parts-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Temperatures</div>
                                    <div class="chart-status"><i class="chart-status-icon-warning"></i></div>
                                </div>
                                <div id="solar-panel-temp-chart"></div>
                            </div>
                        </div>
                        <div id="power-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="solar-panel-current-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Voltage</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="solar-panel-voltage-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Battery Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="battery-current-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Device Currents</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="device-current-chart"></div>
                            </div>
                        </div>
                        <div id="adc-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Reaction Wheel Torque</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="reaction-wheel-torque-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Magnetometer Readings</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="magnetometer-reading-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Magnetorquer Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="magnetorquer-current-chart"></div>
                            </div>
                        </div>
                        <div id="cdh-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">CPU Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="cpu-usage-chart">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Memory Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-warning"></i></div>
                                </div>
                                <div id="mem-usage-chart">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Storage Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="storage-usage-chart">
                                </div>
                            </div>
                        </div>
                        <div id="com-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1 com-history">
                                <div class="chart-heading">
                                    <div class="chart-title">Com History</div>
                                </div>
                                <div class="com-history-content">
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">23:43:35</div>
                                        <div class="com-history-item-content">Telemetry Beacon Received</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">23:46:55</div>
                                        <div class="com-history-item-content">Image Received</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">00:22:35</div>
                                        <div class="com-history-item-content">Telemetry Beacon Received</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">01:33:25</div>
                                        <div class="com-history-item-content">Image Received</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">01:42:22</div>
                                        <div class="com-history-item-content">ADC Command Sent</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">01:45:22</div>
                                        <div class="com-history-item-content">Telemetry Beacon Received</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">01:50:35</div>
                                        <div class="com-history-item-content">Something something something</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">01:58:44</div>
                                        <div class="com-history-item-content">Telemetry Beacon Received</div>
                                    </div>
                                    <div class="com-history-item">
                                        <div class="com-history-item-time">02:14:35</div>
                                        <div class="com-history-item-content">Telemetry Beacon Received</div>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">RSSI</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="rssi-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Packet Ack Rate</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="packet-ack-rate-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <script src="../static/bower_components/materialize/js/velocity.min.js"></script>
    <script src="../static/bower_components/materialize/js/tabs.js"></script>
    <script src="../static/bower_components/materialize/js/tooltip.js"></script>
    <script src="../static/bower_components/d3/d3.js"></script>
    <script src="../static/bower_components/c3/c3.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>