<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Control</title>
    <link rel="stylesheet" href="../static/stylesheets/app.css" />
    <link rel="stylesheet" href="../static/bower_components/c3/c3.css" />
    <link rel="stylesheet" href="../static/icons/font-awesome/css/font-awesome.css" />
    <script src="../static/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
    <div class="app-container">
        <div class="medium-8 columns no-padding full-height">
            <div class="left-top-quadrant">
                <div class="medium-3 columns no-padding full-height">
                    <div class="title-panel full-height">
                        <img class="logo" src="../static/media/ub_logo_shadow.png">
                        <h1 class="title">GLADOS </h1>
                        <h3 class="description">Mission Control</h3>
                    </div>
                </div>
                <div class="medium-9 columns no-padding full-height">
                    <div class="panel full-height">
                        <div class="panel-header">
                            <div class="panel-title">Flight Camera</div>
                        </div>
                        <div class="panel-content floated-images-in-flow camera-panel" >
                            <div class="left-of-image z-depth-1">
                                <ul class="image-info">
                                    <li class="image-info-item-container">
                                        <div class="toggle-switch">
                                            <input type="checkbox" id="raw-processed-toggle" class="toggle-switch-checkbox" checked>
                                            <label for="raw-processed-toggle" class="toggle-switch-label">
                                                <span class="toggle-switch-inner"></span>
                                                <span class="toggle-switch-switch"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="time-taken">
                                            <i class="small mdi-device-access-time tooltipped" data-position="top" data-tooltip="Time taken (System time)"></i>
                                            <h6>
                                                <strong>21:03:30</strong>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="image-info-item">
                                            <h6>
                                                <strong>Observing:</strong> Alpha Centauri
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="position-taken">
                                            <i class="small mdi-device-gps-fixed tooltipped" data-position="top" data-tooltip="GPS Coordinates"></i>
                                            <h6>
                                                <strong>Latitude: 34.583298</strong>
                                            </h6>
                                            <h6>
                                                <strong>Longitude: 34.583298</strong>
                                            </h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <img class="satellite-image right" src="../static/media/color.bmp"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-bottom-quadrant">
                <div class="panel full-height">
                    <div class="panel-header">
                        <div class="panel-title">Command Center</div>
                    </div>
                    <div class="panel-content auto-overflow">
                        <div class="content-padding">
                            <div class="medium-4 columns center content-padding">
                                <div class="z-depth-1 content-padding">
                                    <h4 class="center">Camera</h4>
                                    <a class="waves-effect waves-light btn-large font-white"><i class="mdi-file-cloud left"></i>Update Images</a>
                                </div>
                            </div>
                            <div class="medium-4 columns center content-padding">
                                <div class="z-depth-1 content-padding">
                                    <h4 class="center">Magnetorquer</h4>
                                    <a class='dropdown-button btn-large font-white' href='#' data-activates='magnetorquer-x'>X</a>
                                    <ul id='magnetorquer-x' class='dropdown-content'>
                                        <li><a href="#">Forward</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Back</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Off</a></li>
                                    </ul>
                                    <a class='dropdown-button btn-large font-white' href='#' data-activates='magnetorquer-y'>Y</a>
                                    <ul id='magnetorquer-y' class='dropdown-content'>
                                        <li><a href="#!">Forward</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Back</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Off</a></li>
                                    </ul>
                                    <a class='dropdown-button btn-large font-white' href='#' data-activates='magnetorquer-z'>Z</a>
                                    <ul id='magnetorquer-z' class='dropdown-content'>
                                        <li><a href="#!">Forward</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Back</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Off</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="medium-4 columns center content-padding">
                                <div class="z-depth-1 content-padding">
                                    <h4 class="center">Reaction Wheels</h4>
                                    <a class='dropdown-button btn-large font-white' href='#' data-activates='reaction-wheel-x'>X</a>
                                    <ul id='reaction-wheel-x' class='dropdown-content'>
                                        <li><a href="#!">On</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Off</a></li>
                                    </ul>
                                    <a class='dropdown-button btn-large font-white' href='#' data-activates='reaction-wheel-y'>Y</a>
                                    <ul id='reaction-wheel-y' class='dropdown-content'>
                                        <li><a href="#!">On</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Off</a></li>
                                    </ul>
                                    <a class='dropdown-button btn-large font-white' href='#' data-activates='reaction-wheel-z'>Z</a>
                                    <ul id='reaction-wheel-z' class='dropdown-content'>
                                        <li><a href="#!">On</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">Off</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="medium-4 columns no-padding full-height">
            <div class="quadrant full-height">
                <div class="panel full-height">
                    <div class="panel-header status-panel-header">
                        <div class="last-updated">
                            <span class="label">Last Updated</span>
                            <span class="time" id="last-updated-time">10:31:33 EST</span>
                        </div>
                        <div class="panel-title">Mission Status</div>
                    </div>
                    <div class="panel-content">
                        <div class="status-overview-panel-header white z-depth-1">
                            <div class="status-overview bottom-border">
                                <div class="general-status-info full-height no-padding medium-6 columns">
                                    <div class="system-time-section bottom-border valign-wrapper">
                                        <span class="system-time-label medium-6 columns">System Time:</span>
                                        <span id="system-time" class="system-time medium-6 columns">11:43:05</span>
                                    </div>
                                    <div class="gps-coords-section valign-wrapper">
                                        No GPS Lock
                                    </div>
                                </div>
                                <div class="battery-voltage-status full-height medium-6 columns left-border">
                                    <div class="status-overview-header">Battery Voltage</div>
                                    <div id="battery-voltage-gauge-chart" class=""></div>
                                </div>
                            </div>
                            <ul class="tabs">
                                <li class="tab status-tab warning"><a href="#thermal-status-tab" class="tab-link">Thermal</a></li>
                                <li class="tab status-tab bad"><a href="#power-status-tab" class="tab-link">Power</a></li>
                                <li class="tab status-tab bad"><a href="#adc-status-tab" class="tab-link">ADC</a></li>
                                <li class="tab status-tab bad"><a href="#cdh-status-tab" class="tab-link">CDH</a></li>
                                <li class="tab status-tab good"><a href="#com-status-tab" class="tab-link">COM</a></li>
                            </ul>
                        </div>

                        <div id="thermal-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Visible Camera Temperature</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="visible-cam-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Infrared Camera Temperature</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="infrared-cam-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Other Device Temperatures</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="other-parts-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Temperatures</div>
                                    <div class="chart-status"><i class="chart-status-icon-warning"></i></div>
                                </div>
                                <div id="solar-panel-temp-chart"></div>
                            </div>
                        </div>
                        <div id="power-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="solar-panel-current-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Voltage</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="solar-panel-voltage-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Battery Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="battery-current-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Device Currents</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="device-current-chart"></div>
                            </div>
                        </div>
                        <div id="adc-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Reaction Wheel Torque</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="reaction-wheel-torque-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Magnetorquer Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="magnetorquer-current-chart"></div>
                            </div>
                        </div>
                        <div id="cdh-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">CPU Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="cpu-usage-chart">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Memory Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-warning"></i></div>
                                </div>
                                <div id="mem-usage-chart">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Storage Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <div id="storage-usage-chart">
                                </div>
                            </div>
                        </div>
                        <div id="com-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1 com-history">
                                <div class="com-history-header">
                                    Com History
                                </div>
                                <div id='com-history-items' class="com-history-content">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">RSSI</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="rssi-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Packet Ack Rate</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <div id="packet-ack-rate-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <script src="../static/bower_components/d3/d3.js"></script>
    <script src="../static/bower_components/c3/c3.js"></script>
    <script src="../static/bower_components/materialize/dist/js/materialize.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>