<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Control</title>
    <link rel="stylesheet" href="../static/stylesheets/app.css" />
    <link rel="stylesheet" href="../static/bower_components/c3/c3.css" />
    <link rel="stylesheet" href="../static/icons/font-awesome/css/font-awesome.css" />
    <script src="../static/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
    <div class="app-container">
        <div class="medium-8 columns no-padding full-height">
            <div class="left-top-quadrant">
                <div class="medium-3 columns no-padding full-height">
                    <div class="title-panel full-height">
                        <img class="logo" src="../static/media/ub_logo_shadow.png">
                        <h1 class="title">GLADOS </h1>
                        <h3 class="description">Mission Control</h3>
                    </div>
                </div>
                <div class="medium-9 columns no-padding full-height">
                    <div class="panel full-height">
                        <div class="panel-header">
                            <div class="panel-title">Flight Camera</div>
                        </div>
                        <div class="panel-content floated-images-in-flow camera-panel" >
                            <div class="left-of-image z-depth-1">
                                <ul class="image-info">
                                    <li class="image-info-item-container">
                                        <h6>Raw/Processed</h6>
                                       <div class="switch">
                                          <input id="raw-processed-toggle" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                          <label class="toggle-switch" for="raw-processed-toggle"></label>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="time-taken">
                                            <i class="small mdi-device-access-time tooltipped" data-position="top" data-tooltip="Time taken (System time)"></i>
                                            <h6>
                                                <strong>21:03:30</strong>
                                            </h6>
                                        </div>
                                    </li>
                                    <li class="image-info-item-container">
                                        <div class="image-info-item">
                                            <h6>
                                                <strong>Observing:</strong> Alpha Centauri
                                            </h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <img id="raw-satellite-image" class="satellite-image right" src="../static/media/color.bmp"/>
                            <img id="processed-satellite-image" class="satellite-image right" src="../static/media/color.bmp"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-bottom-quadrant">
                <div class="panel full-height">
                    <div class="panel-header">
                        <div class="panel-title">Command Center</div>
                    </div>
                    <div class="panel-content auto-overflow valign-wrapper">
                        <div class="medium-4 columns center content-padding">
                            <div class="z-depth-2 content-padding">
                                <h4 class="center">Camera</h4>
                                <a class="waves-effect waves-light btn-large font-white update-images-command"><i class="mdi-image-photo-camera left"></i>Update Images</a>
                            </div>
                        </div>
                        <div class="medium-4 columns center content-padding">
                            <div class="z-depth-2 content-padding">
                                <h4 class="center">Magnetorquer</h4>
                                <a class='dropdown-button btn-large font-white' href='#' data-activates='magnetorquer-x'>X</a>
                                <ul id='magnetorquer-x' class='dropdown-content'>
                                    <li><a class="magnetorquer-command" data-axis="x" data-command="forward">Forward</a></li>
                                    <li class="divider"></li>
                                    <li><a class="magnetorquer-command" data-axis="x" data-command="reverse">Reverse</a></li>
                                    <li class="divider"></li>
                                    <li><a class="magnetorquer-command" data-axis="x" data-command="off">Off</a></li>
                                </ul>
                                <a class='dropdown-button btn-large font-white' href='#' data-activates='magnetorquer-y'>Y</a>
                                <ul id='magnetorquer-y' class='dropdown-content'>
                                    <li><a class="magnetorquer-command" data-axis="y" data-command="forward">Forward</a></li>
                                    <li class="divider"></li>
                                    <li><a class="magnetorquer-command" data-axis="y" data-command="reverse">Reverse</a></li>
                                    <li class="divider"></li>
                                    <li><a class="magnetorquer-command" data-axis="y" data-command="off">Off</a></li>
                                </ul>
                                <a class='dropdown-button btn-large font-white' href='#' data-activates='magnetorquer-z'>Z</a>
                                <ul id='magnetorquer-z' class='dropdown-content'>
                                    <li><a class="magnetorquer-command" data-axis="z" data-command="forward">Forward</a></li>
                                    <li class="divider"></li>
                                    <li><a class="magnetorquer-command" data-axis="z" data-command="reverse">Reverse</a></li>
                                    <li class="divider"></li>
                                    <li><a class="magnetorquer-command" data-axis="z" data-command="off">Off</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="medium-4 columns center content-padding">
                            <div class="z-depth-2 content-padding">
                                <h4 class="center">Reaction Wheels</h4>
                                <a class='dropdown-button btn-large font-white' href='#' data-activates='reaction-wheel-x'>X</a>
                                <ul id='reaction-wheel-x' class='dropdown-content'>
                                    <li><a class="rxn-wheel-command" data-axis="x" data-command="on">On</a></li>
                                    <li class="divider"></li>
                                    <li><a class="rxn-wheel-command" data-axis="x" data-command="off">Off</a></li>
                                </ul>
                                <a class='dropdown-button btn-large font-white' href='#' data-activates='reaction-wheel-y'>Y</a>
                                <ul id='reaction-wheel-y' class='dropdown-content'>
                                    <li><a class="rxn-wheel-command" data-axis="y" data-command="on">On</a></li>
                                    <li class="divider"></li>
                                    <li><a class="rxn-wheel-command" data-axis="y" data-command="off">Off</a></li>
                                </ul>
                                <a class='dropdown-button btn-large font-white' href='#' data-activates='reaction-wheel-z'>Z</a>
                                <ul id='reaction-wheel-z' class='dropdown-content'>
                                    <li><a class="rxn-wheel-command" data-axis="z" data-command="on">On</a></li>
                                    <li class="divider"></li>
                                    <li><a class="rxn-wheel-command" data-axis="z" data-command="off">Off</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="medium-4 columns no-padding full-height">
            <div class="quadrant full-height">
                <div class="panel full-height">
                    <div class="panel-header status-panel-header">
                        <div class="last-updated">
                            <span class="label">Last Updated</span>
                            <span class="time" id="last-updated-time"></span>
                        </div>
                        <div class="panel-title">Mission Status</div>
                    </div>
                    <div class="panel-content">
                        <div class="status-overview-panel-header white z-depth-1">
                            <div class="status-overview bottom-border">
                                <div class="general-status-info full-height no-padding medium-6 columns">
                                    <div class="system-time-section bottom-border valign-wrapper">
                                        <span class="system-time-label medium-6 columns">System Time:</span>
                                        <span id="system-time" class="system-time medium-6 columns"></span>
                                    </div>
                                    <div class="gps-coords-section valign-wrapper">
                                        No GPS Lock
                                    </div>
                                </div>
                                <div class="battery-voltage-status full-height medium-6 columns left-border">
                                    <div class="status-overview-header">Battery Voltage</div>
                                    <div id="battery-voltage-gauge-chart" class=""></div>
                                </div>
                            </div>
                            <ul class="tabs">
                                <li id="thermal-tab" class="tab status-tab"><a href="#thermal-status-tab" class="tab-link">Thermal</a></li>
                                <li id="power-tab" class="tab status-tab"><a href="#power-status-tab" class="tab-link">Power</a></li>
                                <li id="adc-tab" class="tab status-tab"><a href="#adc-status-tab" class="tab-link">ADC</a></li>
                                <li id="cdh-tab" class="tab status-tab"><a href="#cdh-status-tab" class="tab-link">CDH</a></li>
                                <li id="com-tab" class="tab status-tab"><a href="#com-status-tab" class="tab-link">COM</a></li>
                            </ul>
                        </div>

                        <div id="thermal-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Visible Camera Temperature</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device Name
                                            </th>
                                            <th data-field="device-value">
                                                Temperature (&deg;C)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Camera</td>
                                            <td id="vis-cam-temp-camera-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Lens 1</td>
                                            <td id="vis-cam-temp-lens1-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Lens 2</td>
                                            <td id="vis-cam-temp-lens2-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="visible-cam-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Infrared Camera Temperature</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device Name
                                            </th>
                                            <th data-field="device-value">
                                                Temperature (&deg;C)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Camera</td>
                                            <td id="inf-cam-temp-camera-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Lens 1</td>
                                            <td id="inf-cam-temp-lens1-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Lens 2</td>
                                            <td id="inf-cam-temp-lens2-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="infrared-cam-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Other Device Temperatures</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device Name
                                            </th>
                                            <th data-field="device-value">
                                                Temperature (&deg;C)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Battery</td>
                                            <td id="other-part-temp-battery-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Reaction Wheels</td>
                                            <td id="other-part-temp-rxn-value"></td>
                                        </tr>
                                        <tr>
                                            <td>CSK Stack</td>
                                            <td id="other-part-temp-csk-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Edison Stack</td>
                                            <td id="other-part-temp-edison-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="other-parts-temp-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Temperatures</div>
                                    <div class="chart-status"><i class="chart-status-icon-warning"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device Name
                                            </th>
                                            <th data-field="device-value">
                                                Temperature (&deg;C)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Top Panel 1</td>
                                            <td id="solar-panel-temp-1-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Top Panel 2</td>
                                            <td id="solar-panel-temp-2-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="solar-panel-temp-chart"></div>
                            </div>
                        </div>
                        <div id="power-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device Name
                                            </th>
                                            <th data-field="device-value">
                                                Current (mA)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Top Panel 1</td>
                                            <td id="solar-panel-current-1-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Top Panel 2</td>
                                            <td id="solar-panel-current-2-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="solar-panel-current-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Solar Panel Voltage</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device Name
                                            </th>
                                            <th data-field="device-value">
                                                Voltage (V)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Top Panel 1</td>
                                            <td id="solar-panel-voltage-1-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Top Panel 2</td>
                                            <td id="solar-panel-voltage-2-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="solar-panel-voltage-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Bus Currents</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Voltage
                                            </th>
                                            <th data-field="device-value">
                                                Current (mA)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>3V3</td>
                                            <td id="bus-current-3v3-value"></td>
                                        </tr>
                                        <tr>
                                            <td>5V</td>
                                            <td id="bus-current-5v-value"></td>
                                        </tr>
                                        <tr>
                                            <td>12V</td>
                                            <td id="bus-current-12v-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="battery-current-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Device Currents</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Device
                                            </th>
                                            <th data-field="device-value">
                                                Current (mA)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Reaction Wheels</td>
                                            <td id="device-current-rxn-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Visible Camera</td>
                                            <td id="device-current-vis-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Infrared Camera</td>
                                            <td id="device-current-inf-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="device-current-chart"></div>
                            </div>
                        </div>
                        <div id="adc-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Reaction Wheel Torque</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Axis
                                            </th>
                                            <th data-field="device-value">
                                                Torque (N * m)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>X</td>
                                            <td id="rxn-torque-x-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Y</td>
                                            <td id="rxn-torque-y-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Z</td>
                                            <td id="rxn-torque-z-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="reaction-wheel-torque-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Magnetorquer Current</div>
                                    <div class="chart-status"><i class="chart-status-icon-bad"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th data-field="device-name">
                                                Axis
                                            </th>
                                            <th data-field="device-value">
                                                Current (mA)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>X</td>
                                            <td id="torquer-current-x-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Y</td>
                                            <td id="torquer-current-y-value"></td>
                                        </tr>
                                        <tr>
                                            <td>Z</td>
                                            <td id="torquer-current-z-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="magnetorquer-current-chart"></div>
                            </div>
                        </div>
                        <div id="cdh-status-tab" class="tab-content">
                            <div class="chart-wrapper z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Top Output</div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th>PID</th>
                                            <th>User</th>
                                            <th>PR</th>
                                            <th>NI</th>
                                            <th>VIRT</th>
                                            <th>RES</th>
                                            <th>SHR</th>
                                            <th>S</th>
                                            <th>CPU</th>
                                            <th>Mem</th>
                                            <th>Time</th>
                                            <th>Command</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="pid0"></td>
                                            <td id="user0"></td>
                                            <td id="pr0"></td>
                                            <td id="ni0"></td>
                                            <td id="virt0"></td>
                                            <td id="res0"></td>
                                            <td id="shr0"></td>
                                            <td id="s0"></td>
                                            <td id="cpu0"></td>
                                            <td id="mem0"></td>
                                            <td id="time0"></td>
                                            <td id="command0"></td>
                                        </tr>
                                        <tr>
                                            <td id="pid1"></td>
                                            <td id="user1"></td>
                                            <td id="pr1"></td>
                                            <td id="ni1"></td>
                                            <td id="virt1"></td>
                                            <td id="res1"></td>
                                            <td id="shr1"></td>
                                            <td id="s1"></td>
                                            <td id="cpu1"></td>
                                            <td id="mem1"></td>
                                            <td id="time1"></td>
                                            <td id="command1"></td>
                                        </tr>
                                        <tr>
                                            <td id="pid2"></td>
                                            <td id="user2"></td>
                                            <td id="pr2"></td>
                                            <td id="ni2"></td>
                                            <td id="virt2"></td>
                                            <td id="res2"></td>
                                            <td id="shr2"></td>
                                            <td id="s2"></td>
                                            <td id="cpu2"></td>
                                            <td id="mem2"></td>
                                            <td id="time2"></td>
                                            <td id="command2"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">CPU Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th>CPU Usage (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="cpu-usage-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="cpu-usage-chart">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Memory Usage</div>
                                    <div class="chart-status"><i class="chart-status-icon-warning"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th>Memory Usage (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="mem-usage-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="mem-usage-chart">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Storage Usage</div>
                                </div>
                                <div id="storage-usage-chart">
                                </div>
                            </div>
                        </div>
                        <div id="com-status-tab" class="tab-content">
                            <div class="chart-wrapper full-width z-depth-1 com-history">
                                <div class="com-history-header">
                                    Com History
                                </div>
                                <div id='com-history-items' class="com-history-content">
                                </div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">RSSI</div>
                                    <div class="chart-status"><i class="chart-status-icon-good"></i></div>
                                </div>
                                <table class="striped centered small-bottom-margin">
                                    <thead>
                                        <tr>
                                            <th>RSSI (dBm)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td id="rssi-value"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="rssi-chart"></div>
                            </div>
                            <div class="chart-wrapper full-width z-depth-1">
                                <div class="chart-heading">
                                    <div class="chart-title">Packet Ack Rate</div>
                                </div>
                                <div id="packet-ack-rate-chart" class="hidden-overflow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <script src="../static/bower_components/d3/d3.js"></script>
    <script src="../static/bower_components/c3/c3.js"></script>
    <script src="../static/bower_components/materialize/dist/js/materialize.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>