.bottom-border {
  border-bottom: 1px solid $light-border-color;
}

.top-border {
  border-top: 1px solid $light-border-color;
}

.left-border {
  border-left: 1px solid $light-border-color;
}

.right-border {
  border-right: 1px solid $light-border-color;
}