.toggle-switch {
    position: relative; width: 137px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.toggle-switch-checkbox {
    display: none;
}
.toggle-switch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.toggle-switch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner:before, .toggle-switch-inner:after {
    display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
    font-size: 14px; color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.toggle-switch-inner:before {
    content: "Raw";
    padding-left: 10px;
    background-color: #BBDEFB; color: #000000;
}
.toggle-switch-inner:after {
    content: "Processed";
    padding-right: 10px;
    background-color: #1565C0; color: #FFFFFF;
    text-align: right;
}
.toggle-switch-switch {
    display: block; width: 34px; margin: 3px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 93px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px; 
}